<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.five.monkey.vi.vhr.dal.mapper.base.EmployeeMapper">
  <resultMap id="BaseResultMap" type="com.five.monkey.vi.vhr.dal.entity.Employee">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="department_id" jdbcType="BIGINT" property="departmentId" />
    <result column="job" jdbcType="VARCHAR" property="job" />
    <result column="duty" jdbcType="TINYINT" property="duty" />
    <result column="basis_salary" jdbcType="DECIMAL" property="basisSalary" />
    <result column="engage_form" jdbcType="TINYINT" property="engageForm" />
    <result column="begin_work_date" jdbcType="DATE" property="beginWorkDate" />
    <result column="work_state" jdbcType="TINYINT" property="workState" />
    <result column="be_form_date" jdbcType="DATE" property="beFormDate" />
    <result column="begin_contract" jdbcType="DATE" property="beginContract" />
    <result column="end_contract" jdbcType="DATE" property="endContract" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, user_id, department_id, job, duty, basis_salary, engage_form, begin_work_date, 
    work_state, be_form_date, begin_contract, end_contract
  </sql>
  <select id="selectByExample" parameterType="com.five.monkey.vi.vhr.dal.entity.EmployeeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from `t_employee_info`
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `t_employee_info`
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from `t_employee_info`
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.five.monkey.vi.vhr.dal.entity.EmployeeExample">
    delete from `t_employee_info`
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.five.monkey.vi.vhr.dal.entity.Employee">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `t_employee_info` (user_id, department_id, job, 
      duty, basis_salary, engage_form, 
      begin_work_date, work_state, be_form_date, 
      begin_contract, end_contract)
    values (#{userId,jdbcType=BIGINT}, #{departmentId,jdbcType=BIGINT}, #{job,jdbcType=VARCHAR}, 
      #{duty,jdbcType=TINYINT}, #{basisSalary,jdbcType=DECIMAL}, #{engageForm,jdbcType=TINYINT}, 
      #{beginWorkDate,jdbcType=DATE}, #{workState,jdbcType=TINYINT}, #{beFormDate,jdbcType=DATE}, 
      #{beginContract,jdbcType=DATE}, #{endContract,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.five.monkey.vi.vhr.dal.entity.Employee">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `t_employee_info`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="departmentId != null">
        department_id,
      </if>
      <if test="job != null">
        job,
      </if>
      <if test="duty != null">
        duty,
      </if>
      <if test="basisSalary != null">
        basis_salary,
      </if>
      <if test="engageForm != null">
        engage_form,
      </if>
      <if test="beginWorkDate != null">
        begin_work_date,
      </if>
      <if test="workState != null">
        work_state,
      </if>
      <if test="beFormDate != null">
        be_form_date,
      </if>
      <if test="beginContract != null">
        begin_contract,
      </if>
      <if test="endContract != null">
        end_contract,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="departmentId != null">
        #{departmentId,jdbcType=BIGINT},
      </if>
      <if test="job != null">
        #{job,jdbcType=VARCHAR},
      </if>
      <if test="duty != null">
        #{duty,jdbcType=TINYINT},
      </if>
      <if test="basisSalary != null">
        #{basisSalary,jdbcType=DECIMAL},
      </if>
      <if test="engageForm != null">
        #{engageForm,jdbcType=TINYINT},
      </if>
      <if test="beginWorkDate != null">
        #{beginWorkDate,jdbcType=DATE},
      </if>
      <if test="workState != null">
        #{workState,jdbcType=TINYINT},
      </if>
      <if test="beFormDate != null">
        #{beFormDate,jdbcType=DATE},
      </if>
      <if test="beginContract != null">
        #{beginContract,jdbcType=DATE},
      </if>
      <if test="endContract != null">
        #{endContract,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.five.monkey.vi.vhr.dal.entity.EmployeeExample" resultType="java.lang.Long">
    select count(*) from `t_employee_info`
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update `t_employee_info`
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.departmentId != null">
        department_id = #{record.departmentId,jdbcType=BIGINT},
      </if>
      <if test="record.job != null">
        job = #{record.job,jdbcType=VARCHAR},
      </if>
      <if test="record.duty != null">
        duty = #{record.duty,jdbcType=TINYINT},
      </if>
      <if test="record.basisSalary != null">
        basis_salary = #{record.basisSalary,jdbcType=DECIMAL},
      </if>
      <if test="record.engageForm != null">
        engage_form = #{record.engageForm,jdbcType=TINYINT},
      </if>
      <if test="record.beginWorkDate != null">
        begin_work_date = #{record.beginWorkDate,jdbcType=DATE},
      </if>
      <if test="record.workState != null">
        work_state = #{record.workState,jdbcType=TINYINT},
      </if>
      <if test="record.beFormDate != null">
        be_form_date = #{record.beFormDate,jdbcType=DATE},
      </if>
      <if test="record.beginContract != null">
        begin_contract = #{record.beginContract,jdbcType=DATE},
      </if>
      <if test="record.endContract != null">
        end_contract = #{record.endContract,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update `t_employee_info`
    set id = #{record.id,jdbcType=BIGINT},
      user_id = #{record.userId,jdbcType=BIGINT},
      department_id = #{record.departmentId,jdbcType=BIGINT},
      job = #{record.job,jdbcType=VARCHAR},
      duty = #{record.duty,jdbcType=TINYINT},
      basis_salary = #{record.basisSalary,jdbcType=DECIMAL},
      engage_form = #{record.engageForm,jdbcType=TINYINT},
      begin_work_date = #{record.beginWorkDate,jdbcType=DATE},
      work_state = #{record.workState,jdbcType=TINYINT},
      be_form_date = #{record.beFormDate,jdbcType=DATE},
      begin_contract = #{record.beginContract,jdbcType=DATE},
      end_contract = #{record.endContract,jdbcType=DATE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.five.monkey.vi.vhr.dal.entity.Employee">
    update `t_employee_info`
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="departmentId != null">
        department_id = #{departmentId,jdbcType=BIGINT},
      </if>
      <if test="job != null">
        job = #{job,jdbcType=VARCHAR},
      </if>
      <if test="duty != null">
        duty = #{duty,jdbcType=TINYINT},
      </if>
      <if test="basisSalary != null">
        basis_salary = #{basisSalary,jdbcType=DECIMAL},
      </if>
      <if test="engageForm != null">
        engage_form = #{engageForm,jdbcType=TINYINT},
      </if>
      <if test="beginWorkDate != null">
        begin_work_date = #{beginWorkDate,jdbcType=DATE},
      </if>
      <if test="workState != null">
        work_state = #{workState,jdbcType=TINYINT},
      </if>
      <if test="beFormDate != null">
        be_form_date = #{beFormDate,jdbcType=DATE},
      </if>
      <if test="beginContract != null">
        begin_contract = #{beginContract,jdbcType=DATE},
      </if>
      <if test="endContract != null">
        end_contract = #{endContract,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.five.monkey.vi.vhr.dal.entity.Employee">
    update `t_employee_info`
    set user_id = #{userId,jdbcType=BIGINT},
      department_id = #{departmentId,jdbcType=BIGINT},
      job = #{job,jdbcType=VARCHAR},
      duty = #{duty,jdbcType=TINYINT},
      basis_salary = #{basisSalary,jdbcType=DECIMAL},
      engage_form = #{engageForm,jdbcType=TINYINT},
      begin_work_date = #{beginWorkDate,jdbcType=DATE},
      work_state = #{workState,jdbcType=TINYINT},
      be_form_date = #{beFormDate,jdbcType=DATE},
      begin_contract = #{beginContract,jdbcType=DATE},
      end_contract = #{endContract,jdbcType=DATE}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>