<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.five.monkey.vi.vhr.dal.mapper.base.RemoveInfoMapper">
  <resultMap id="BaseResultMap" type="com.five.monkey.vi.vhr.dal.entity.RemoveInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="employee_id" jdbcType="BIGINT" property="employeeId" />
    <result column="pre_department_id" jdbcType="BIGINT" property="preDepartmentId" />
    <result column="next_department_id" jdbcType="BIGINT" property="nextDepartmentId" />
    <result column="remove_date" jdbcType="DATE" property="removeDate" />
    <result column="remove_cause" jdbcType="VARCHAR" property="removeCause" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, employee_id, pre_department_id, next_department_id, remove_date, remove_cause, 
    remark
  </sql>
  <select id="selectByExample" parameterType="com.five.monkey.vi.vhr.dal.entity.RemoveInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from `t_remove_info`
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `t_remove_info`
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from `t_remove_info`
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.five.monkey.vi.vhr.dal.entity.RemoveInfoExample">
    delete from `t_remove_info`
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.five.monkey.vi.vhr.dal.entity.RemoveInfo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `t_remove_info` (employee_id, pre_department_id, next_department_id, 
      remove_date, remove_cause, remark
      )
    values (#{employeeId,jdbcType=BIGINT}, #{preDepartmentId,jdbcType=BIGINT}, #{nextDepartmentId,jdbcType=BIGINT}, 
      #{removeDate,jdbcType=DATE}, #{removeCause,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.five.monkey.vi.vhr.dal.entity.RemoveInfo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `t_remove_info`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="employeeId != null">
        employee_id,
      </if>
      <if test="preDepartmentId != null">
        pre_department_id,
      </if>
      <if test="nextDepartmentId != null">
        next_department_id,
      </if>
      <if test="removeDate != null">
        remove_date,
      </if>
      <if test="removeCause != null">
        remove_cause,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="employeeId != null">
        #{employeeId,jdbcType=BIGINT},
      </if>
      <if test="preDepartmentId != null">
        #{preDepartmentId,jdbcType=BIGINT},
      </if>
      <if test="nextDepartmentId != null">
        #{nextDepartmentId,jdbcType=BIGINT},
      </if>
      <if test="removeDate != null">
        #{removeDate,jdbcType=DATE},
      </if>
      <if test="removeCause != null">
        #{removeCause,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.five.monkey.vi.vhr.dal.entity.RemoveInfoExample" resultType="java.lang.Long">
    select count(*) from `t_remove_info`
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update `t_remove_info`
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.employeeId != null">
        employee_id = #{record.employeeId,jdbcType=BIGINT},
      </if>
      <if test="record.preDepartmentId != null">
        pre_department_id = #{record.preDepartmentId,jdbcType=BIGINT},
      </if>
      <if test="record.nextDepartmentId != null">
        next_department_id = #{record.nextDepartmentId,jdbcType=BIGINT},
      </if>
      <if test="record.removeDate != null">
        remove_date = #{record.removeDate,jdbcType=DATE},
      </if>
      <if test="record.removeCause != null">
        remove_cause = #{record.removeCause,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update `t_remove_info`
    set id = #{record.id,jdbcType=BIGINT},
      employee_id = #{record.employeeId,jdbcType=BIGINT},
      pre_department_id = #{record.preDepartmentId,jdbcType=BIGINT},
      next_department_id = #{record.nextDepartmentId,jdbcType=BIGINT},
      remove_date = #{record.removeDate,jdbcType=DATE},
      remove_cause = #{record.removeCause,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.five.monkey.vi.vhr.dal.entity.RemoveInfo">
    update `t_remove_info`
    <set>
      <if test="employeeId != null">
        employee_id = #{employeeId,jdbcType=BIGINT},
      </if>
      <if test="preDepartmentId != null">
        pre_department_id = #{preDepartmentId,jdbcType=BIGINT},
      </if>
      <if test="nextDepartmentId != null">
        next_department_id = #{nextDepartmentId,jdbcType=BIGINT},
      </if>
      <if test="removeDate != null">
        remove_date = #{removeDate,jdbcType=DATE},
      </if>
      <if test="removeCause != null">
        remove_cause = #{removeCause,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.five.monkey.vi.vhr.dal.entity.RemoveInfo">
    update `t_remove_info`
    set employee_id = #{employeeId,jdbcType=BIGINT},
      pre_department_id = #{preDepartmentId,jdbcType=BIGINT},
      next_department_id = #{nextDepartmentId,jdbcType=BIGINT},
      remove_date = #{removeDate,jdbcType=DATE},
      remove_cause = #{removeCause,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>